<div class="text-layout">
  <h1>Decimal pipe y porcentaje</h1>
  <p>Pipes incluidos en Angular | Usualmente en el CommonModule</p>
</div>

<div class="p-grid">
  <div class="p-col-4">
    <p-card header="Ventas netas" subheader="del presente anio">
      <i class="pi pi-dollar"></i>
      {{ ventasNetas | number : "1.2-2" : "" }}
    </p-card>
  </div>
  <div class="p-col-4">
    <p-card header="Ventas brutas" subheader="del presente anio">
      {{ ventasNetas + 2000000 | currency : "COP" }}
    </p-card>
  </div>
  <div class="p-col-4">
    <p-card header="Ganancia porcentual" subheader="del presente anio">
      {{ porcentaje | percent : "2.2-2" }}
    </p-card>
  </div>
</div>
