<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h3>{{ valor | number }}</h3>
  <h2>{{ obj | json }}</h2>
  <button
    pButton
    icon="pi pi-check"
    iconPos="right"
    class="p-button-help"
    type="button"
    label="Mostrar nombre"
    (click)="mostrarNombre()"
  ></button>

  <p-card [header]="pelicula.titulo" *ngFor="let pelicula of peliculas">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ea
    exercitationem eos? Ipsa labore non voluptatibus nobis dolorem deserunt aut
    assumenda quia quaerat eos. Dignissimos autem ullam tempora perspiciatis.
    Delectus!
    <ul>
      <ol *ngFor="let actor of pelicula.actores">
        {{
          actor
        }}
      </ol>
    </ul>
  </p-card>
</div>
